body{

    background-color: slategray;

}
#header{

    width: auto;
    height: 4em;
    padding-top: 2em;
    background-color: royalblue;
    text-align: center;
    margin-top: 3em;
    margin-left: 3em;
    margin-right: 3em;
    margin-bottom: 3em;
    font-size: xx-large;

}
#users_header{

    width: auto;
    height: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color:green;
    text-align: center;
    margin-top: 4em;
    font-size: x-large;

}

#content{

    width: 100%;
    height: auto;
    background-color: aqua;
    padding: 0.5em;
    text-align: center;
    

}
.posts_container{

    background-color: red;
    padding-top: 0.5em;


}
.body_posts_container{

    background-color: hotpink;


}