body{

    background-color: slategray;

}
#header{

    width: auto;
    height: 10em;
    padding-top: 5em;
    background-color: royalblue;
    text-align: center;
    margin-top: 6em;
    margin-left: 6em;
    margin-right: 6em;
    margin-bottom: 6em;
    

}

#content{

    width: 100%;
    height: auto;
    background-color: aqua;
    padding: 0.5em;
    

}
.posts_container{

    background-color: red;


}